<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet"> 
    <!--  -->

    <!-- Style Libraries -->
    <link rel="stylesheet" href="./css/utils/glider.min.css">
    <!--  -->

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/utils/normalize.css">
    <link rel="stylesheet" href="css/utils/utils.css">
    <link rel="stylesheet" href="css/index.css">
    <!--  -->
    <title>MasterBikes</title>
</head>
<body>

    <%- include("templates/navbar.ejs")%>

    <header class="hero">
        <button id="hero--prev"><</button>
        <div class="hero__cards">
            <div class="hcard">
                <p class="hcard__description">Page 01</p>
            </div>

            <div class="hcard">
                <p class="hcard__description">Page 02</p>
            </div>

            <div class="hcard">
                <p class="hcard__description">Page 03</p>
            </div>

            <div class="hcard">
                <p class="hcard__description">Page 04</p>
            </div>

            <div class="hcard">
                <p class="hcard__description">Page 05</p>
            </div>

            <div class="hcard">
                <p class="hcard__description">Page 06</p>
            </div>

            <div class="hcard">
                <p class="hcard__description">Page 07</p>
            </div>
        </div>
        <button id="hero--next">></button>
        <div role="tablist" id="hero__dots"></div>
    </header>

   <main>

    <section class="categories">
        <h2 class="categories__title">Categor&iacute;as</h2>
        <div id="categories__slider">
            <button id="category--prev"><</button>
            <div id="categories__container">
                <div class="category">
                    <div class="category__img"></div>
                    <p class="category__description">Lorem ipsum dolor</p>
                </div>
    
                <div class="category">
                    <div class="category__img"></div>
                    <p class="category__description">Lorem ipsum dolor</p>
                </div>
    
                <div class="category">
                    <div class="category__img"></div>
                    <p class="category__description">Lorem ipsum dolor</p>
                </div>
    
                <div class="category">
                    <div class="category__img"></div>
                    <p class="category__description">Lorem ipsum dolor</p>
                </div>
    
                <div class="category">
                    <div class="category__img"></div>
                    <p class="category__description">Lorem ipsum dolor</p>
                </div>
    
                <div class="category">
                    <div class="category__img"></div>
                    <p class="category__description">Lorem ipsum dolor</p>
                </div>
    
                <div class="category">
                    <div class="category__img"></div>
                    <p class="category__description">Lorem ipsum dolor</p>
                </div>
    
                <div class="category">
                    <div class="category__img"></div>
                    <p class="category__description">Lorem ipsum dolor</p>
                </div>
    
                <div class="category">
                    <div class="category__img"></div>
                    <p class="category__description">Lorem ipsum dolor</p>
                </div>
    
                <div class="category">
                    <div class="category__img"></div>
                    <p class="category__description">Lorem ipsum dolor</p>
                </div>
            </div>
            <button id="category--next">></button>
            <div role="tablist" id="categories__dots"></div>
        </div>
    </section>

    <!-- Content Section/Offers -->
    <section class="container">
        <div class="container__a">
            <div class="container__info">
                <h3 class="info__title">Oferta Mensual</h3>
                <p class="info__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias nesciunt asperiores accusamus aliquid quis numquam animi cum nisi nostrum suscipit.</p>
                <button class="g--btns">Ver</button>
            </div>
        </div>
        <div class="container__b" style="background-image: url(../img/bike-template2.jpg);">
        </div>
    </section>

    <section class="most-selled">
        <h2 class="selled__title">M&aacute;s Vendidos</h2>
        <div id="products__slider">
            <button id="product--prev"><</button>
            <div id="products__container">
                <div class="product">
                    <div class="product__img"></div>
                    <p class="product__description">Lorem ipsum dolor</p>
                </div>

                <div class="product">
                    <div class="product__img"></div>
                    <p class="product__description">Lorem ipsum dolor</p>
                </div>

                <div class="product">
                    <div class="product__img"></div>
                    <p class="product__description">Lorem ipsum dolor</p>
                </div>

                <div class="product">
                    <div class="product__img"></div>
                    <p class="product__description">Lorem ipsum dolor</p>
                </div>

                <div class="product">
                    <div class="product__img"></div>
                    <p class="product__description">Lorem ipsum dolor</p>
                </div>

                <div class="product">
                    <div class="product__img"></div>
                    <p class="product__description">Lorem ipsum dolor</p>
                </div>
            </div>
            <button id="product--next">></button>
            <div role="tablist" id="products__dots"></div>
        </div>
        <div class="selled__container">
            <a class="g--btns products__btn" href="/catalogo">Ver Cat&aacute;logo</a>
        </div>
    </section>

    <!-- Content Section/Offers -->
    <section class="container">
        <div class="container__b" style="background-image: url(../img/bike-template3.jpg);">
        </div>
        <div class="container__a">
            <div class="container__info">
                <h3 class="info__title">¿A&uacute;n No Tienes Una Bicicleta?</h3>
                <p class="info__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias nesciunt asperiores accusamus aliquid quis numquam animi cum nisi nostrum suscipit.</p>
                <button class="g--btns">Ver</button>
            </div>
        </div>
    </section>

    <section class="services">
        <h2 class="services__title">Nuestros Servicios</h2>
        <div class="services__container">
            <div class="service">
                <a href="/servicios" class="service__link">
                    <img src="./img/services/service1.jpg" alt="Reparaciones" class="service__img">
                </a>
                <p class="service__name">Reparaciones</p>
            </div>

            <div class="service">
                <a href="/servicios" class="service__link">
                    <img src="./img/services/service2.jpg" alt="Mantenciones" class="service__img">
                </a>
                <p class="service__name">Mantenciones</p>
            </div>

            <div class="service">
                <a href="/servicios" class="service__link">
                    <img src="./img/services/service3.jpg" alt="Arriendos" class="service__img">
                </a>
                <p class="service__name">Arriendos</p>
            </div>
        </div>
    </section>
   </main>

   <%- include("templates/footer.ejs") %>

    <!-- Libraries -->
    <script src="/js/libraries/glider.min.js"></script>
    <!-- Scripts  -->
    <script src="/js/navigation.js"></script>
    <script src="/js/sliders/hero.js"></script>
    <script src="/js/sliders/categories.js"></script>
    <script src="/js/sliders/most-selled.js"></script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <%if(alert) {%>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= timer %>
            }).then( () => {
                window.location = '/<%= ruta %>';
            })
        </script>
    <%}%>
</body>
</html>